{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reportdetail.css' %}">
</head>
<body>
    <h2>Rescued Cases</h2>

{% for case in rescued_cases %}
    <div style="border:1px solid #ccc; padding:15px; margin:10px;">

        <p><strong>Report ID:</strong> {{ case.id }}</p>

        <p><strong>Claimed By:</strong> {{ case.claimed_by.username }}</p>

        <p><strong>Email:</strong> {{ case.claimed_by.email }}</p>

        <p><strong>Date:</strong> {{ case.claimed_at }}</p>

        {% if case.claimed_by.profile %}
            <p><strong>Phone:</strong> {{ case.claimed_by.profile.phone }}</p>
            <p><strong>Area:</strong> {{ case.claimed_by.profile.district }}</p>
        {% endif %}

    </div>
{% empty %}
    <p>No rescued cases yet.</p>
{% endfor %}
</body>
</html>