<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="Instructions">
        <h1>welcome new member</h1>
        <p>we are all here for one single goal to resue the stray...blah blah blah</p>
    </div>

    <div class="Instructions">
        <h1>How resue works</h1>
        <p>blah blah blah</p>

    </div>

    <div class="Instructions">
        <h1>Duties</h1>
        <p>Blah Blah</p>
    </div>

    <div class="Instructions">
        <h1>important thing to remember</h1>
        <p>dfghjkl;</p>
    </div>

    <div class="Instructions">
        <h1>Be like a family</h1>
        <p>blah bla </p>

    </div>
    <form method="POST">
        {% csrf_token %}
         <button type="submit">submit</button>
    </form>
</body>
</html>